*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d4c5c78;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #073143;
    height: 120px;
    font-size: 92px;
    margin-top: 10px;
    animation-name: acidTrip;
    animation-timing-function: ease-in-out;
    animation-name: plummit;
    animation-duration: 5s;
}

@keyframes plummit {
    from {
        opacity: 1;
        transform: scale(10);
    }

    to {
        opacity: 1;
        transform: scale(0);
    }
}

h2 {
    color: blue;
    font-size: 30px;
    line-height: 79px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    animation-name: chameleon;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes chameleon {
    0% {
        color: red;
    }

    14.2999% {
        color: orange;
    }

    28.5999% {
        color: yellow;
    }

    42.8998% {
        color: green;
    }

    57.1996% {
        color: blue;
    }

    71.4995% {
        color: indigo;
    }

    85.7994% {
        color: violet;
    }

    100% {
        color: rgb(40, 3, 3);
    }
}


/* @keyframes acidTrip {
    from {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }

    to {
        filter: hue-rotate(-360deg);
    }
} */

.container2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}

img {
    height: 200px;
    width: 260px;
    border-radius: 10px;
}

.invitation-card-1,
.happy-easter-card-2,
.happynew-year-3 {
    width: 300px;
    height: 460px;
    padding: 5px;
    border-radius: 10px;
    right: 8px;
    display: flex;
}

.invitation-card-1 {

    background-color: rgb(136 134 123);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-1 {
    animation-name: stretch;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 25;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(0.5);
        border-radius: 100%;
    }

    50% {}

    100% {
        transform: scale(1.0);
    }
}

.happy-easter-card-2 {
    background-color: rgb(222 222 226);
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-2 {
    height: 252px;
    width: 353px;
    animation:
        pulse 3s ease infinite alternate,
        nudge 5s linear infinite alternate;
    border-radius: 100%;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(22, 0);
    }
    50% {
        transform: translate(150px, 0px);
    }
    50% {
        transform: translate(100px, 0);
    }
}

.happynew-year-3 {
    background-color: #ccc0b3;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.img-3 {
    display: block;
    position: relative;
    animation: f 6s infinite;
}

@keyframes f {
    from {
        clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 100%);
    }

    10%,
    to {
        clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 50%);
    }
}

p {
    text-align: left;
    font: bold;
    padding: 15px;

}

._1,
._2,
._3 {
    width: 197px;
    height: 52px;
    text-align: center;
    font-size: 30px;
    border-radius: 4px;
    border: none;
}

._1 {
    background: #b07843;
    color: white;
}

._1:hover {
    transform: scale(1.1);
    background-color: #4b210e;
}

._2 {
    background: #93b0be;
    color: white;
}

._2:hover {
    transform: scale(1.1);
    background-color: #071e23c6;
}

._3 {
    background: #efd197;
    color: white;
}

._3:hover {
    transform: scale(1.1);
    background-color: #433923;
}

.circle {
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -4%;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 5px solid #073143;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.social-menu {
    position: relative;
    top: 5vh;
    right: -2vh;
    display: flex;
    list-style: none;
}

.social-menu ul {
    position: absolute;
    left: 86%;
    transform: translate(-70%, 47%);
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .6s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

.social-menu ul li:nth-child(6) a:hover {
    background-color: #2dd146;
}
